{% extends 'base.html' %}

{% block content %}

<h2>Wybierz terapeutę</h2>
 
<form action="{% url 'choose_therapist' %}" method='POST'>
    <p>Pacjent: {{user.first_name}} {{user.last_name}}</p>

    <label for="therapist_select"><p>Terapeuta:</p></label>
    <select name="therapist_select" id="therapist_select">
        
    {% for therapist in therapist_list %}

        <option value={{therapist.id}}>{{therapist.first_name}} {{therapist.last_name}}</option>

    {% endfor %}

    </select>
    {% csrf_token %}
    <button type="Submit">Create</button>  
</form>

{% endblock content %}