{% extends 'base.html' %}


{% block content %}

<h1>Pacjenci {{user}}</h1>

{% for visit in visits %}
      
        {% for patient in patients %}
    
            {% if patient.id == visit.patient_id %}
                
                {% for user_search in user_list %}
                
                {% if user_search.id == patient.user_id %}                  
                    <a href="{% url 'therapist_patient_edit' patient.id %}"><p>{{user_search.first_name}} {{user_search.last_name}}</p></a>
                {% endif %}
                    
                    
                {% endfor %}
                    
            {% endif %}      
        
        {% endfor %}      


{% endfor %}


  

{% endblock content %}
    


