{% extends 'base.html' %}


{% block content %}

<h2>Plan tygodnia terapeuty {{user}}</h2>

<table>

    {% for visit_hour in working_hours %}
        <tr>           
            <td>{{visit_hour.day}}</td>
            <td>{{visit_hour.hours}}</td>                   
            
            {% for reserved_hour in reserved_hours %}
                
                {% if reserved_hour.visit_date_id == visit_hour.id %}
                    
                    {% if reserved_hour.patient_id %}
                        <td>Wizyta</td>
                    {% else %}
                        <td>Rezerwacja</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
                 
                
                    
   
        </tr>
    {% endfor %}
        
</table>

{% endblock content %}
    


