{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\schedule.css' %}">
{% endblock header %}


{% block content %}

<h2>Plan tygodnia terapeuty {{user}}</h2>

<a href="{% url 'visit_reserve_therapist' user.id %}"><h3 class="vis_edit_link">Zarezerwuj termin wizyty</h3></a>

<a href="{% url 'cancel_reserved' user.id %}"><h3 class="vis_edit_link">Odwołaj rezerwację terminu</h3></a>

<table>

    {% for visit_hour in working_hours %}
           
        <tr >       
            
            {% if not visit_hour.is_visit and not visit_hour.is_reserved %}
                <td class="date_free">{{visit_hour.day}}</td>
                <td class="date_free">{{visit_hour.hours}}</td> 
            {% else %}
                <td class="date_occ">{{visit_hour.day}}</td>
                <td class="date_occ">{{visit_hour.hours}}</td> 
            {% endif %}  
                               
            {% for reserved_hour in reserved_hours %}
                
                {% if reserved_hour.visit_date_id == visit_hour.id %}
                    
                    {% if reserved_hour.patient_id %}
                        <td class="vis">Wizyta</td>
                    {% else %}
                        <td class="res">Rezerwacja</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            


        </tr>
    {% endfor %}
        
</table>

{% endblock content %}
    


