{% extends 'base.html' %}

{% block header %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css\therapist_list.css' %}">
{% endblock header %}

{% block content %}

<h2>Nasi terapeuci</h2>

<table>
    <tr>
        <th class="name">Imię i Nazwisko</td>
        <th>Stawka[PLN]</td>
        <th class="info">Informacje</td>

    </tr>

    {% for therapist in therapists %}
        <tr>           
                              
            
            {% for user_search in user_list %}           
                {% if user_search.id == therapist.user_id %}
    
                        <td>{{user_search.first_name}} {{user_search.last_name}}</td>
                   
                {% endif %}
            {% endfor %}
                 
            <td class="rate">{{therapist.visit_rate}}</td>
            <td class="info">{{therapist.info}}</td>  
                    
   
        </tr>
    {% endfor %}
        
</table>


  

{% endblock content %}
    


