{% extends 'base.html' %}

{% block content %}

<h2>Umów nową wizytę</h2>

<p>Pacjent: {{user.first_name}} {{user.last_name}}</p>

<p> Terapeuta: {{therapist.first_name}} {{therapist.last_name}}</p> 

<form action="{% url 'create_visit_patient' %}" method='POST' class="simple">
   
    <label for="visit_date_select"><p>Dostepne terminy:</p></label>
    <select name="visit_date_select" id="visit_date_select">
        
        {% for visit in visits %}
        
            <option value={{visit.id}}>{{visit.day}}, godz. {{visit.hours}}</option>   
            
        {% endfor %}
    </select>
    {% csrf_token %}
    <button type="Submit">Umów</button>  
</form>


{% endblock content %}
    


