{% extends 'base.html' %}


{% block content %}

<h2>Informacje o wizycie</h2>

{% for visit_date in visit_dates %}
    
    {% if visit_date.id == visit.visit_date_id %}
        <p>Wizyta umówiona na {{visit_date.day}}, godz. {{visit_date.hours}}</p> 
    {% endif %}
        
{% endfor %}

{% for patient in patients %}
    
    {% if patient.id == visit.patient_id %}
        
        {% for user_search in user_list %}
            
            {% if user_search.id == patient.user_id %}
                <p> Pacjent: {{user_search.first_name}} {{user_search.last_name}}</p> 
            {% endif %}
                          
        {% endfor %}
            
    {% endif %}
        
{% endfor %}

{% for therapist in therapists %}
    
    {% if therapist.id == visit.therapist_id %}
        
        {% for user_search in user_list %}
            
            {% if user_search.id == therapist.user_id %}
                <p> Terapeuta: {{user_search.first_name}} {{user_search.last_name}}</p> 
            {% endif %}                  
        {% endfor %}
            
    {% endif %}
        
{% endfor %}
 

{% for patient in patients %}
    {% if user.id == patient.user_id %}    
        {% if visit.is_confirmed %}
            <p>Wizyta potwierdzona</p>
        {% elif visit.booked_by_patient %}
            <p>Wizyta czeka na potwierdzenie przez terapeutę</p>
        {% else %}
            <a href="{% url 'confirm_visit' visit.id %}"><h2>Potwierdź wizytę</h2></a>  
        {% endif %}
    {% endif %}
{% endfor %}
    
{% for therapist in therapists %}
    {% if user.id == therapist.user_id %}
        {% if visit.is_confirmed %}
            <p>Wizyta potwierdzona</p>
        {% elif visit.booked_by_patient %}
            <a href="{% url 'confirm_visit' visit.id %}"><h2>Potwierdź wizytę</h2></a>  
        {% else %}
            <p>Wizyta czeka na potwierdzenie przez pacjenta</p>
        {% endif %}
    {% endif %}
{% endfor %}
        


<a href="{% url 'cancel_visit' visit.id %}"><p>Anuluj wizytę</p></a>

{% endblock content %}
    


