{% extends 'base.html' %}

{% block content %}

<h1>Umów nową wizytę</h1>
 
<form action="{% url 'create_visit' user.id %}" method='POST'>
    <p>Pacjent: {{user.first_name}} {{user.last_name}}</p>

    <label for="therapist_select"><p>Terapeuta:</p></label>
    <select name="therapist_select" id="therapist_select">
        
        {% for therapist in therapists %}
            
            {% for user_search in user_list %}
                
                {% if user_search.id == therapist.user_id %}
                    <option value="{{therapist.id}}">{{user_search.first_name}} {{user_search.last_name}}</option>
                {% endif %}
                    
            {% endfor %}
                
            
        {% endfor %}
            
    </select>

    <label for="visit_date_select"><p>Termin wizyty:</p></label>
    <select name="visit_date_select" id="visit_date_select">
        
        {% for visit_date in visit_dates %}
        
            <option value={{visit_date.id}}>{{visit_date.day}}, godz. {{visit_date.hours}}</option>    

        {% endfor %}
            
    </select>
    {% csrf_token %}
    <button type="Submit">Create</button>  
</form>

{% endblock content %}
    


