{% extends 'base.html' %}

{% block content %}

<h2>Umów nową wizytę</h2>

<p>Pacjent: {{user.first_name}} {{user.last_name}}</p>


{% for user_search in user_list %}
            
{% if user_search.id == therapist.user_id %}
    <p> Terapeuta: {{user_search.first_name}} {{user_search.last_name}}</p> 
{% endif %}                  
{% endfor %}

<form action="{% url 'create_visit_patient' user.id therapist.id %}" method='POST' class="simple">
   
    <label for="visit_date_select"><p>Dostepne terminy:</p></label>
    <select name="visit_date_select" id="visit_date_select">
        
        {% for visit_date in visit_dates %}
        
            {% for  therapist_visit in visit_list %}
                
                {% if  therapist_visit.visit_date_id == visit_date.id%}
                    <option value={{visit_date.id}}>{{visit_date.day}}, godz. {{visit_date.hours}}</option>    
                {% endif %}
                    
            {% endfor %}
            
        {% endfor %}
            
    </select>
    {% csrf_token %}
    <button type="Submit">Umów</button>  
</form>


{% endblock content %}
    


