{% extends 'base.html' %}


{% block content %}

<h1>Wizyty {{fwiffo}}</h1>

<h2>Wizyty potwierdzone</h2>

{% for visit in visits %}

    {% if visit.is_confirmed and visit.patient_id %}
    
        {% for visit_hour in visit_hours %}
    
            {% if visit_hour.id == visit.visit_date_id %}
                <a href="{% url 'visit_detail' visit.id %}"><p>{{visit_hour.day}}, godz. {{visit_hour.hours}}</p></a>
            {% endif %}      
        
        {% endfor %}      

    {% endif %}

{% endfor %}

<h2>Wizyty niepotwierdzone</h2>

{% for visit in visits %}

    {% if not visit.is_confirmed and visit.patient_id %}
        {% for visit_hour in visit_hours %}
    
            {% if visit_hour.id == visit.visit_date_id %}
                <a href="{% url 'visit_detail' visit.id %}"><p>{{visit_hour.day}}, godz. {{visit_hour.hours}}</p></a>
            {% endif %}      

        {% endfor %}   
    {% endif %}

{% endfor %}

<a href="{% url 'visit_create_user' user.id %}"><p>Umów wizytę</p></a>
  

{% endblock content %}
    


