<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if user.is_authenticated%}
    <p>Welcome back {{user}}</p>
    <a href="{% url 'logout_user' %}"><p>Wyloguj</p></a>
    <a href="{% url 'account' %}"><p>Twoje konto</p></a>
    <a href="{% url 'visit_list' %}"><p>Twoje wizyty</p></a>
    {% else %}
    <a href="{% url 'register' %}"><p>Zarejestruj się</p></a>
    <a href="{% url 'login_user' %}"><p>Zaloguj się</p></a>
    {% endif %}
     {% block content%}
    {% endblock content %}

</body>
</html>